<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="stylesheet" href="css/normalize.css"/> 

<script src="https://kit.fontawesome.com/c0e6f14933.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="css/header-footer.css" />
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/register.css" />
<title>Register</title>
</head>

<body>
    <header>
        <section class="buscar-lupa">
            <a href="/">
                 <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo" />
            </a>
            <div class="botonb">
                <p class="ofertas">Buscar producto, ofertas y mas</p>
                <div class="lupa"><i class="fas fa-search"></i></div>
            </div>
        </section>

    <section class="compraCuotas">
        <i class="fas fa-hand-holding-usd"></i>
        <strong id="titulo">Comprá en cuotas y sin tarjeta de crédito</strong>
    </section>
    

    <nav class="navbar">
        <ul class="navbar-izq">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="navbar-der">
            <li><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </nav>

    <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
    </div>

    <div>
        <img src="/images/img-home-banner.jpg" class="banner" alt="banner" />
    </div>
    </header>
    
<body>
    <section class="registro">
        <form action="/registro" method="POST" class="formulario">
            <div class="nombre">
                
                <input type="text" name="nombre" id="nombre" placeholder="nombre y apellido" required minlength="12">
            </div>
            <div class="nombre-usuario">
                <input outline="none"  type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de Usuario" required minlength="12">
            </div>
             
            <label >Fecha de nacimiento</label>
            <input  class="nombre" type="date" name="fechaNacimiento" id="fechaNacimiento" required>

            <label>Perfil de usuario</label>
            <select name="comprar-vender" id="comprar-vender" class="comprar-vender" required>
                <option value="comprar">Comprar</option>
                <option value="vender">Vender</option>
            </select>

            

            <label class="categoria">Seleccione una categoria</label>
            
            <div class="checkboxes">
                <div class="check">
                    <input type="checkbox" name="intereses" value="electro" id="electro">
                    <label for="electro">Electro</label>
                </div>
                <div class="check">
                    <input type="checkbox" name="intereses" value="moda" id="moda">
                    <label for="moda">Moda</label>
                </div>
                <div class="check">
                    <input type="checkbox" name="intereses" value="hogar" id="hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div class="check">
                    <input type="checkbox" name="intereses" value="jugueteria" id="jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div class="check">
                    <input type="checkbox" name="intereses" value="vida-sana" id="vida-sana">
                    <label for="vida-sana">Vida sana</label>
                </div>
            </div>
            <div class="foto">
                <label for="foto"><h2>Foto de perfil</h2></label>
                <input type="file" name="foto" id="foto" required>
            </div>

            <div class="nombre">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>
            <div class="nombre">
            <input type="password" name="confirmarpassword" id="confirmarpassword" placeholder="Confirmar contraseña">
            </div>

            <div class="reg-reset">
            <button class="reset" type="reset">Cancelar</button>
            <button class="register" type="submit">Enviar</button>
            </div>

        </form>

    </section>

    <footer>
    <section class="pie-pagina">
        <section class="sector-footer">
            <i class="fas fa-credit-card icono-footer"></i>
            <h2 class="titulo-footer">Pagá con tarjeta o efectivo</h2>
            <p class="texto-footer">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>

        <section class="sector-footer">
            <i class="fas fa-gift icono-footer"></i>
            <h2 class="titulo-footer">Envío gratis desde $ 2.500</h2>
            <p class="texto-footer">
                Solo por estar registrad@ en Mercado Liebre tenés 
                envíos gratis en
                miles de productos.
                Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="sector-footer">
            <i class="fas fa-user-shield icono-footer"></i>
            <h2 class="titulo-footer">Seguridad, de principio a fin</h2>
            <p class="texto-footer">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </section>
        <
    </section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      
    </footer>
</body>

</html>

