

.registro {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre, .nombre-usuario{
    display: block;
    margin-bottom: 20px;
    width: 96%;
    background-color: #ffffff;
    margin-top: 30px;
    height: 30px;
}

input {
    width: 100%;
    padding: 10px;
    color: gray;
    border: none;
    outline: none;


}


label, .foto {
    margin-top: 25px;
}
.comprar-vender, .fecha  {
    margin: 5px 0 30px;

}
.categoria {
    margin-bottom: 15px;
}
.checkboxes {
    text-align: center;
}
.check {
    margin-bottom: 10px;
}
.foto {
    text-align: center;
}
.reg-reset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
.register , .reset {
    margin-top: 15px;
    background-color: var(--celeste);
    color: #ffffff;
    width:50%;
    border-radius: 3px;
    height: 40px;
    width: 130px;
    margin: 15px;  
    border: none;
}
.register:hover , .reset:hover{
    background-color: #0022AA;
    
}



/*  tablets    */
@media (min-width:361px){
    .nombre, .nombre-usuario {
        width: 150%;
    }
    }