*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --grisOscuro: #666;
  --grisClaro: #ebebeb;
  --verde: #39b54a;
}
body {
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  margin: auto;
  box-sizing: border-box; 
 padding-bottom:30px;
  background-color: var(--grisClaro);
}

h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
p {
  font-size: 12px;
}

.img1 {
  max-width: 90%;
  margin-bottom: 20px;
}
.seccion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-top: 40px;
}
.seccion2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding:0;
  margin-bottom: 40px;
  margin-top: 40px;
}
.container1{
  width: 100%;
  margin: 0;
}
.container2{
  border-top: solid 1px var(--grisClaro) ;
  text-align:center; 
  background-color: white;
}
.container3{
  border-top: solid 1px var(--grisClaro) ;
  background-color: white;

}
.cont-circulo {
  display: flex;
  justify-content:flex-end;
  padding-bottom: 8px;
  margin-right: 20px;
}
.camioncito{
  color: var(--verde); 
  margin-top: 5px;
}
.container3:hover .circulo{
  transform: rotateZ(-90deg);
  
}

.circulo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px var(--verde);
  text-align: center;

  transition: .5s;
 
}
.precio-dto {
  display: flex;
  padding-left: 10px;
}
.precio{
  width: 30vw;
}
.descuento {
  color: var(--verde);
  width: 70vw;
  font-size:14px ;
}
.descripcion {
  display: none;
}
.basado {
  padding-top: 20px;
  text-align: center;
}


/*  tablets    */
@media (min-width:361px){
  .container1:hover {box-shadow: 0px 0px 10px var(--grisOscuro);
  }
  
  .ofertas {
    font-size: 14px;
  padding-top: 3PX;
  }
  
  .container1 {
    
    width: 45%;
   
  }
  
}

/*   notebook   */
@media (min-width:769px){
 
  .ofertas {
    font-size: 12px;
    padding-top: 5px;
  }
  .container1{
    width: 21%;
  }
  .container1:hover .descripcion {
    display: block;
    text-align: center;
    padding-top: 1rem;
  }
}
 

